torch==1.4.0 # correct
runstats==1.7.1  # correct
h5py==3.1.0 # correct
scikit_image==0.15.0 # correct
matplotlib==3.0.2 # correct
scipy==1.4.1 # correct
torchvision==0.2.2.post3  # correct
tensorflow==2.6.4 # correct
tsp_solver2==0.3
numpy==1.19.5 # correct
tensorboardX==2.1
pillow==6.1
timm==0.3.2
packaging